<div class="container">
  <ng-container  *ngIf=showChart>
  <div class="row">
  <h1 class="display-2 text-center">Data Quality Report</h1>
    <div class="col-sm-6 offset-sm-3 p-3">
      <canvas baseChart
      [datasets]="chartDataSets"
      [labels]="chartLabels"
      [options]="chartOptions"
      [type]="'pie'"
      (chartClick)="chartClicked($event)">
      </canvas>
    </div>
  </div>
  <div class="row">
      <div class="col-sm-4 offset-sm-4">
          <section>
              <mat-button-toggle-group aria-label="Font Style">
                <mat-button-toggle (change)="valueChanges($event)" [value]="data.errorMessage" *ngFor="let data of reportData">{{data.errorMessage}}</mat-button-toggle>
              </mat-button-toggle-group>
            </section>
      </div>
  </div>
</ng-container>
  <div class="row" *ngIf=!showChart>
    <button mat-button color="primary" (click)="showChart=!showChart">Go Back To Report
    </button>
    <section>
      <mat-button-toggle-group [formControl]="fontStyleControl" aria-label="Font Style">
        <mat-button-toggle [value]="data.errorMessage" *ngFor="let data of reportData">{{data.errorMessage}}</mat-button-toggle>
      </mat-button-toggle-group>
    </section>
    
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">
      
          <!-- Position Column -->
          <ng-container *ngFor="let col of displayedColumns" matColumnDef="{{col}}">
            <th mat-header-cell *matHeaderCellDef> {{col | splitcase}} </th>
            <td mat-cell *matCellDef="let element">  {{element[col]}}</td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row  *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[5,10, 20]"
                       showFirstLastButtons 
                       aria-label="Select page of periodic elements">
        </mat-paginator>
      </div>
      <mat-divider></mat-divider>
      <button mat-button color="primary" (click)="showChart=!showChart">Go Back To Report
      </button>
  </div>
</div>

